@tailwind base;
@tailwind utilities;

body,html{
    max-width: 100vw;
    min-height: 100vh
}

body {
    @apply flex flex-col bg-gradient-to-b from-[#000832] to-[#000015];
}
.display-icons{
    animation: fade-in 1s ease-out 0ms 1 forwards;
}

@keyframes fade-in {
    from{opacity: 0;}
    to{opacity: 100;}
}